$white: #ffffff;
$gray-ef: #efefef;
$bg-gray: #f7f7f7;
$black: #0c0f16;
$black-77: #777777;
$green: #75dab4;
$colums: 12;
$gray-bg: #f2f3f5;
$green-muted: #f9fbfd;

$shadow-color: rgba(0, 0, 0, 0.05);

// Fonts
$primary-font: "Poppins", sans-serif;
$secondary-font: "Barlow Condensed", sans-serif;
